<footer>
    <div class="f-info">
        <!-- Social media icons section -->
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i> 
            <i class="fa-brands fa-square-instagram"></i> 
            <i class="fa-brands fa-linkedin"></i> 
            <i class="fa-brands fa-square-twitter"></i> 
        </div>

        <!-- Branding or copyright -->
        <div class="f-info-brand"> 
            &copy; findRooms.com Private Limited 
        </div>

        <!-- Footer links: privacy policy and terms -->
        <div class="f-info-links">
            <a href="/Privacy">Privacy</a> &nbsp;&nbsp;
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>
