<% layout('/layouts/boilerplate.ejs') -%> <!-- Extends the base layout -->

<div class="row">
    <!-- Centered Bootstrap alert for displaying error message -->
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <h4><%= message %></h4> <!-- Render dynamic error message -->
    </div>
</div>
